@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.box {
  background-color: #fcfcfc;
  padding: 5em 4em;
  text-align: center;
  border-bottom: 2px solid #dddddd;
}

.d-large {
  font-size: 50px;
  margin-bottom: 20px;
}

.btn {
  padding: 0.8em 1.5em;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.btn-primary {
  padding: 0.8em 1.5em;
  background-color: #9f3ed6;
  color: #ffffff;
  border: 2px solid #9f3ed6;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.btn-primary:hover {
  background-color: #8635b4;
  border: 2px solid #8635b4;
}

.btn-danger {
  background-color: #d63e57;
  border: 2px solid #d63e57;
}

.btn-danger:hover {
  background-color: #b43546;
  border: 2px solid #b43546;
}
